services:
  uki-build:
    build: .
    image: uki-build:alpine
    container_name: uki-build
    user: "${LOCAL_UID}:${LOCAL_GID}"
    environment:
      HOME: "/home/builder"
      BUILD_ID: "${BUILD_ID}"
      GIT_HEAD: "${GIT_HEAD}"
    volumes:
      - ${OUT_ROOT}/target-root:/mnt/target
      - ${OUT_ROOT}/uki:/uki
      - ./private/sbkeys/db.key:/tmp/db.key:ro
      - ./private/sbkeys/db.crt:/tmp/db.crt:ro
      - ./private/sbkeys/linuxaa64.efi.stub:/tmp/linuxaa64.efi.stub:ro
    restart: "no"

  prepare-target:
    image: alpine:3.23
    # run as root (default)
    environment:
      LOCAL_UID: "${LOCAL_UID}"
      LOCAL_GID: "${LOCAL_GID}"
    volumes:
      - ${OUT_ROOT}/target-root:/mnt/target
      - ${OUT_ROOT}/kernel:/in:ro
      - ${OUT_ROOT}/kernel/build_key.rsa.pub://etc/apk/keys/build_key.rsa.pub:ro
    entrypoint: ["/bin/sh", "-lc"]
    command:
      - >
        set -eux;
        apk_path="$$(ls -1t /in/linux-ec2-tpm-latest.apk /in/linux-ec2-tpm-[0-9]*.apk 2>/dev/null | head -n 1)";
        test -n "$$apk_path";
        rm -rf /mnt/target/*;
        mkdir -p /mnt/target/etc /mnt/target/boot;
        test -r "/in/build_key.rsa.pub";
        apk update;
        apk add --no-cache "$$apk_path";
        cp -L /etc/os-release /mnt/target/etc/os-release;
        cp -a /boot/vmlinuz-tpm-ec2 /mnt/target/boot/vmlinuz-tpm-ec2;
        cp -a /boot/initramfs-tpm-ec2 /mnt/target/boot/initramfs-tpm-ec2;
        chown "$$LOCAL_UID:$$LOCAL_GID" /mnt/target;
        chown "$$LOCAL_UID:$$LOCAL_GID" /mnt/target/etc;
        chown "$$LOCAL_UID:$$LOCAL_GID" /mnt/target/boot;
        chown "$$LOCAL_UID:$$LOCAL_GID" /mnt/target/etc/os-release;
        chown "$$LOCAL_UID:$$LOCAL_GID" /mnt/target/boot/vmlinuz-tpm-ec2;
        chown "$$LOCAL_UID:$$LOCAL_GID" /mnt/target/boot/initramfs-tpm-ec2;
